In [4]:
!pip install pandas

Requirement already satisfied: pandas in c:\python311\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in c:\python311\lib\site-packages (from pandas) (2.0.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\python311\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\python311\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\python311\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 24.1.1 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [6]:
# import libraries

import pandas as pd
import os

In [10]:
#pathname manipulation, fp for filepath

fp = os.path.join(os.getcwd(), "sexualization.csv")
fp

'c:\\Users\\zylav\\OneDrive\\Dokumente\\GitHub\\CFG_Degree_Project_Group_4\\sexualization.csv'

In [11]:
#read dataset

sexualization_data = pd.read_csv("C:\\Users\\zylav\\OneDrive\\Dokumente\\GitHub\\CFG_Degree_Project_Group_4\\sexualization.csv")
sexualization_data.head()

,Id,Sexualized_clothing,Trophy,Damsel in Distress,Sexualized Cutscenes,Total
0,CODMW_Farah,0,0,0,0,0
1,PSS_Protagonist,0,0,0,0,0
2,PSS_Magnolia,0,0,0,0,0
3,PSS_Sonia,0,0,0,0,0
4,PSS_Marnie,0,0,0,0,0

In [12]:
#check for null values

sexualization_data.isnull().sum()

Id                      0
Sexualized_clothing     0
Trophy                  0
Damsel in Distress      0
Sexualized Cutscenes    0
Total                   0
dtype: int64

In [17]:
#check for na values

sexualization_data.isna()

,Id,Sexualized_clothing,Trophy,Damsel in Distress,Sexualized Cutscenes,Total
0,False,False,False,False,False,False
1,False,False,False,False,False,False
2,False,False,False,False,False,False
3,False,False,False,False,False,False
4,False,False,False,False,False,False
...,...,...,...,...,...,...
632,False,False,False,False,False,False
633,False,False,False,False,False,False
634,False,False,False,False,False,False
635,False,False,False,False,False,False
636,False,False,False,False,False,False

In [15]:
#check for duplicate rows

duplicate_rows = sexualization_data.duplicated().sum()
duplicate_rows

np.int64(0)

In [18]:
#check data types

sexualization_data.dtypes

Id                      object
Sexualized_clothing      int64
Trophy                   int64
Damsel in Distress       int64
Sexualized Cutscenes     int64
Total                    int64
dtype: object

In [19]:
sexualization_data.head()

,Id,Sexualized_clothing,Trophy,Damsel in Distress,Sexualized Cutscenes,Total
0,CODMW_Farah,0,0,0,0,0
1,PSS_Protagonist,0,0,0,0,0
2,PSS_Magnolia,0,0,0,0,0
3,PSS_Sonia,0,0,0,0,0
4,PSS_Marnie,0,0,0,0,0

In [20]:
# change Id to character_id

sexualization_data = sexualization_data.rename(columns = {'Id':'character_id'})

In [21]:
sexualization_data.head()

,character_id,Sexualized_clothing,Trophy,Damsel in Distress,Sexualized Cutscenes,Total
0,CODMW_Farah,0,0,0,0,0
1,PSS_Protagonist,0,0,0,0,0
2,PSS_Magnolia,0,0,0,0,0
3,PSS_Sonia,0,0,0,0,0
4,PSS_Marnie,0,0,0,0,0

In [22]:
# save updated data as cleaned_sexualization

sexualization_data.to_csv('cleaned_sexualization.csv', index=False)